{
    arch = "wasm32",
    assimp = true,
    buildir = "build",
    ccache = false,
    clean = true,
    compile_shaders = true,
    embed_plugins = true,
    embed_rendererbackends = true,
    embed_resources = true,
    examples = true,
    ffmpeg = false,
    host = "windows",
    kind = "static",
    link_openal = true,
    mingw = [[C:\Projets\Perso\Softs\mingw64-11.2]],
    mode = "debug",
    ndk_stdcxx = true,
    network = "public",
    override_runtime = true,
    plat = "wasm",
    proxy_pac = "pac.lua",
    qt = "C:/Projets/Perso/Libs/Qt",
    shadernodes = false,
    tests = false,
    theme = "default",
    unitybuild = false,
    usepch = false
}