name: Emscripten (wasm) build

on:
  pull_request:
  push:
    paths-ignore:
      - '.github/workflows/coverage.yml'
      - '.github/workflows/linux-build.yml'
      - '.github/workflows/macos-build.yml'
      - '.github/workflows/msys2-build.yml'
      - '.github/workflows/windows-build.yml'
      - '.gitignore'
      - 'LICENSE'
      - 'CHANGELOG.md'
      - 'README.md'
      - 'README_en.md'
      - 'README_fr.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [wasm32, wasm64]
        mode: [debug, release]

    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}

    steps:
    - name: Get current date as package key
      id: cache_key
      run: echo "key=$(date +'%W')" >> $GITHUB_OUTPUT

    - name: Checkout repository
      uses: actions/checkout@v4

    # Force xmake to a specific folder (for cache)
    - name: Set xmake env
      run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

    # Install xmake
    - name: Setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: branch@dev
        actions-cache-folder: .xmake-cache-W${{ steps.cache_key.outputs.key }}

    # Update xmake to toolchain
    - name: Switch to toolchain branch
      run: xmake update -s toolchain

    # Setup emsdk
    - name: Setup emscripten
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.35
        actions-cache-folder: emsdk-cache-${{ matrix.mode }}-${{ matrix.kind }}

    # Setup compilation mode and install project dependencies
    - name: Configure xmake and install dependencies
      run: xmake config --plat=wasm --arch=${{ matrix.arch }} --mode=${{ matrix.mode }} --ccache=n --assimp=n --embed_rendererbackends=y --embed_plugins=y --link_openal=y --ffmpeg=n --shadernodes=n --tests=y --yes

    # Cache assets downloading
    - name: Restore cached assets
      id: restore-assets
      uses: actions/cache/restore@v4
      with:
        path: assets
        key: assets-${{ hashFiles('assets/examples_version.txt', 'assets/unittests_version.txt') }}

    # Build the engine
    - name: Build Nazara
      run: xmake --yes

    - name: Save downloaded assets
      if: ${{ !steps.restore-assets.outputs.cache-hit }}
      uses: actions/cache/save@v4
      with:
        path: assets
        key: ${{ steps.restore-assets.outputs.cache-primary-key }}

    # Install the result files
    - name: Install Nazara
      if: ${{ (github.ref == 'refs/heads/main') && github.event_name == 'push' }}
      run: xmake install -vo package

    - name: "Set PACKAGE_NAME variable"
      if: ${{ (github.ref == 'refs/heads/main') && github.event_name == 'push' }}
      run: echo "PACKAGE_NAME=emscripten_${{ matrix.arch }}_${{ matrix.mode }}_static.tar.gz" >> $GITHUB_ENV
      shell: bash

    - name: Archive result
      uses: ihiroky/archive-action@v1
      if: ${{ (github.ref == 'refs/heads/main') && github.event_name == 'push' }}
      with:
        root_dir: package
        file_path: ${{ env.PACKAGE_NAME }}
        verbose: true

    # Nightly tags (for commits to main branch)
    - name: Upload binaries to release (main)
      uses: svenstaro/upload-release-action@v2
      if: ${{ (github.ref == 'refs/heads/main') && github.event_name == 'push' }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ env.PACKAGE_NAME }}
        asset_name: ${{ env.PACKAGE_NAME }}
        tag: "0.0.0-nightly"
        overwrite: true
